
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: rgb(228, 211, 181);
        }
        #joke-container {
            margin: 20px;
        }
